.cat-container {
    width: 20%;
    background-color: #eff3ec;
    padding:10px;
    margin: 40px 20px 0 0 ;


    .cat-lists {
        list-style: none;
        padding: 0 0 3px 15px ;


        .cat-list {
            color: black;
            text-decoration: none;
            display: block;
            line-height: 50px;
            

        }

    }

}